body {
  margin: 0;
  font-family: Arial,sans-serif;
    text-align: center;
    background-image:url("http://wallpapercave.com/wp/Qo9w2au.jpg);
}
h1{
    font-weight: bolder;
    color:green;
}
iframe{
    width:450px;
    height:900px;
}
p{
    color: goldenrod;
}